install
url --url http://ftp.tudelft.nl/centos.org/7/os/x86_64/
lang en_US.UTF-8
keyboard us
network --device eth0 --bootproto dhcp --hostname spelljammer
rootpw 2d4zB8lbOCGUA --iscrypted
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512 --enablefingerprint
selinux --enforcing
timezone --utc Europe/Amsterdam
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"
zerombr
clearpart --all --drives=sda
part /boot --fstype=ext4 --size=500
part pv.raid01 --grow --size=1
volgroup VolGroup --pesize=4096 pv.raid01
logvol /home --fstype=ext4 --name=lv_home --vgname=VolGroup --grow --size=100
logvol / --fstype=ext4 --name=lv_root --vgname=VolGroup --grow --size=1024 --maxsize=51200
logvol swap --name=lv_swap --vgname=VolGroup --grow --size=1008 --maxsize=2016
reboot
user --name=quincey --password=2d4zB8lbOCGUA --iscrypted --groups=wheel

%packages --ignoremissing
@ Minimal Install
git
wget
vim
docker
%end

%post --log=/root/ks-post.log
# MOTD
echo "Remote kickstart on $(date)" >> /etc/motd

# setup my user stuff
## ssh
echo "##### Setup ssh preferences ######"
mkdir /home/quincey/.ssh/
echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBGaY3ATFzrZxITL9NJmUCtbKJfoPkH5yULVeYfItOjd/PCJenXh8QrW+CGB9gkzf4oqU2/o+NgD4IAn4XGgQTv3ElO4yg/FfsbyIMTRjvXA9fGVuWaqsM1M+epB6jlPzkH4tNSrjGSjSeKqe8LknA/klpq86VYn3bFyGI7EYVfA4Sezwa0+3n8E8oYHpTbxyOvAFduhulLsPUKVB3ry7ARIXfqZIuNhd+pz7od6qGilM3NUdDe9wl7zMmdImJt4psBVeK74a9r0SzGDt1fjRu6KJrDi8r0eR9VRk1kqIU6Jsu8DQGv272+66o1h4gMV8fRHSeqNqIHYWwR3GDo6Qx quincey@Weatherlight.local" >> /home/quincey/.ssh/authorized_keys
chmod 700 /home/quincey/.ssh
chmod 600 /home/quincey/authorized_keys
sed -i "s/#PubkeyAuthentication yes/PubkeyAuthentication yes/" /etc/ssh/sshd_config 
echo "##### Done with ssh preferences #####"

## passwordless sudo
echo "##### Setup passwordless sudo #####"
echo "quincey   ALL=(ALL:ALL) NOPASSWD: ALL" >> /etc/sudoers.d/010-quincey
echo "##### Done with passwordless sudo #####"

## finger
echo "##### Fix finger data #####"
/usr/bin/chfn -f 'Quincey ten Kroode' quincey
echo "##### Done with finger data #####"

## pip
echo "##### Setup python pip #####"
wget https://bootstrap.pypa.io/get-pip.py
python get-pip.py
pip install virtualenv
echo "##### Done with python pip #####"

## github stuff
echo "##### Setup projects #####"
git clone https://github.com/qjvtenkroode/devenv.git /home/quincey/projects/devenv
git clone https://github.com/qjvtenkroode/dotfiles.git /home/quincey/projects/dotfiles
git clone https://github.com/qjvtenkroode/qkroode.nl.git /home/quincey/projects/qkroode.nl
git clone https://github.com/qjvtenkroode/scripts.git /home/quincey/projects/scripts
git clone https://github.com/qjvtenkroode/sunipetto.git /home/quincey/projects/sunipetto
git clone https://github.com/qjvtenkroode/vault.git /home/quincey/projects/vault
echo "##### Done with projects setup #####"

## dotfiles
echo "##### Setup dotfiles #####"
cat /home/quincey/projects/dotfiles/.bashrc >> /home/quincey/.bashrc
cp -r /home/quincey/projects/dotfiles/.vim* /home/quincey
cp /home/quincey/projects/dotfiles/.tmux.conf /home/quincey
echo "##### Done with dotfiles setup #####"

## chmod everything in users home folder
echo "##### Starting user dir cleanup #####"
chown -R quincey:quincey /home/quincey
echo "##### Done with user dir cleanup #####"

# do an update
echo "##### Starting yum update #####"
yum check-update
yum update -y
echo "##### Done with yum update #####"

echo "##### Rebooting... #####"
reboot
%end
